@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap');




body{
   /* background-color: rgb(181, 183, 211);*/
    /*background-color: rgb(52, 75, 68);*/
    background-image: linear-gradient(95deg, #316161 0%, #ae8b9c 120%);

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color:rgb(103, 143, 143);
    text-shadow:6px 3px 15px; /*neon..glow*/
    margin:70px; 
    padding: 40px;
    font-size: 30px;
}


/*NAVBAR*/
ul {
  list-style: none; /* Entfernt Punkte */
  padding: 0; /* Entfernt Padding */
  margin: 0; /* Entfernt Margin */
  top: 0;
  right: 0;


}

li {
  /*display: inline-block; /* Ändert die Listenpunkte in inline-Elemente */
  margin-bottom: 10px;
}

a {
  text-decoration: none; /* Entfernt die Unterstreichung */
  display: block; /* Setzt die Anzeige auf Block */
  text-align: right; 

}

/*Regel für Menu*/
.menu {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;   /*block*/
    flex-direction: row;
    justify-content: flex-end;
   
  }
  
  .menu li {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-end;
      align-content: center;

      
   
   
  }
  
  .menu li:last-child {
    margin-right: 10px;
  }
  .menu li {
    margin: 0 10px;
  }
  
  .menu a {
    text-align: right;
    text-decoration: none;
    /*color: #4352f9;*/
    color:rgb(228, 166, 210);
    font-size: 20px;
    font-weight: bolder;
  }
  /*Palmen*/
  #img {
    object-fit:cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 10px  10px 10px;
}

  #img-container {
    position:relative;
    text-align: center;
   
  }

  .centered-text {
    position:absolute;
    top: 55%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding-bottom: 20vw;
    display: flex;
    flex-direction: row;
    font-size: 10px; 
    color:rgba(251, 109, 180, 0.71);
    /*color:#fe01b1;*/
  }
  
 .centered-title {
   font-size: 3.6em;
    font-weight: 100;
    opacity: 2;
    animation: fadein 2s forwards;
    animation-delay: 1s; 
  }

  .centered-subtitle {
    font-size: 1.3em;
    font-weight: 100;
    opacity: 1;
    animation: fadein 2s forwards;
    animation-delay: 2s;
    color: rgb(175, 220, 85);
    font-weight:lighter;
    padding-top:15px;
    padding-right: 20vw;
 
  }

  .accordion-item-toggle {
    display: none;
  }
  
  .accordion-item-header {
   
    padding: 10px;
    cursor:pointer;
  }
  
  .accordion-item-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    margin-top: 20px;
    
  }
  
  .accordion-item-toggle:checked ~ .accordion-item-content {
    max-height: 800px; /* Set an appropriate height */
  }

li{
  font-size: 20px;
  color: rgb(180, 112, 147);
  margin: 20px;
}

  /* PUBLICATION*/
  #section3 > a{
    text-align: left;
    display:flex;
    color:rgba(250, 140, 140, 0.594);
    font-size: 20px;
    font-weight: 100;
    padding-left: 20px;
  }

  #section3 p{
    font-size: 15px;
    padding-left: 30px;
  }

 
 
  footer >p{
    color:#cac9c9;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
 }
 #section4 a{
    display: flex;
    color:#9f8989

 }
 #social{
width: 50px;
padding-bottom: 100px;
 }
  
