@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap');




body{
   /* background-color: rgb(181, 183, 211);*/
   /* background-color: rgb(52, 75, 68);*/
    /*background-image: linear-gradient(95deg, #316161 0%, #ae8b9c 120%);*/
    /*background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);*/
    /*background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);*/
    /*background-image: linear-gradient(to top,  #28a2b7  0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #7c6070 100%);*/ /*Fav1*/
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color:rgb(155, 206, 193);
    text-shadow:6px 3px 15px; /*neon..glow*/
    margin:70px; 
    padding: 40px;
    font-size: 30px;
}


/*NAVBAR*/
ul {
  list-style: none; /* Entfernt Punkte */
  padding: 0; /* Entfernt Padding */
  margin: 0; /* Entfernt Margin */
  top: 0;
  right: 0;


}

li {
  /*display: inline-block; /* Ändert die Listenpunkte in inline-Elemente */
  margin-bottom: 10px;
}

a {
  text-decoration: none; /* Entfernt die Unterstreichung */
  display: block; /* Setzt die Anzeige auf Block */
  text-align: right; 

}

/*Regel für Menu*/
.menu {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;   /*block*/
    flex-direction: row;
    justify-content: flex-end;
   
  }
  
  .menu li {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-end;
      align-content: center;

  }
  
  .menu li:last-child {
    margin-right: 10px;
  }
  .menu li {
    margin: 0 10px;
  }
  
  .menu a {
    text-align: right;
    text-decoration: none;
    /*color: #4352f9;*/
    color:rgb(250, 216, 240);
    font-size: 20px;
    font-weight: bolder;
  }
  /*Tapes*/
  #img {
    object-fit:cover;
    width: 100%;
   display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 10px  10px 10px;
  
}

  #img-container {
    position:relative;
    text-align: center;
   
  }

  .centered-text {
    position:absolute;
    top: 55%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding-bottom: 20vw;
    display: flex;
    flex-direction: row;
    font-size: 10px; 
    /*color:rgba(251, 109, 180, 0.71);*/
    /*color:#fe01b1;*/
    color:rgba(253, 51, 85, 0.583);
    
  }
  
 .centered-title {
   font-size: 3.6em;
    font-weight: 100;
    opacity: 2;
    animation: fadein 2s forwards;
    animation-delay: 1s; 
    padding-bottom:40px;
  }

  .centered-subtitle {
    font-size: 2.6em;
    font-weight: 100;
    opacity: 1;
    animation: fadein 2s forwards;
    animation-delay: 2s;
    color: rgb(175, 220, 85);
    font-weight:lighter;
    padding-top:15px;
    padding-right: 20vw;
    padding-bottom: 50px;
 
  }
  .centered-text > p{
    position:absolute;
    top: 21%;
    left: 66%;
    transform: translate(-50%, -50%);
    width: 10%;
    display: flex;
    flex-direction: row;
    font-size: 15px; 
    color:rgb(206, 160, 184);
    padding-left: 50px;
  }

  /*LOREM IPSUM*/
  #section1  li{
    display: flex;
   align-items: center;
    justify-content: center;
    color:#fcb6ed;
    
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    
  }
  
 
/* CLIENT/BOOKED AKKORDION*/
  .accordion-item-toggle {
    display: none;
  }
  
  .accordion-item-header {
   
    padding: 0px;
    cursor:pointer;
  }
  
  .accordion-item-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    margin-top: 20px;
    
  }
  
  .accordion-item-toggle:checked ~ .accordion-item-content {
    max-height: 800px; /* Set an appropriate height */
  }
/*Liste Clients,Booked Artist*/
li{
  font-size: 20px;
  color: rgb(228, 156, 193);
  margin: 20px; /*TEXTBREITE*/
}

/*PUBLICATION*/
  #section3 ul, a{
    display:flex;
    flex-direction: column;
    align-items: center;
   color:rgb(236, 166, 215);
  
    font-size: 20px;
    font-weight: 100;
   }

/*CONTACT*/

/*SOCIAL MEDIA BUTTONS*/

    #social a {
      display: inline-block;
      margin-right: 5px; /* Abstand zwischen den Elementen anpassen */
    }
    
   #social img {
      width: 30px; /* Breite der Bilder anpassen */
      height: 30px; /* Höhe der Bilder anpassen */
    }
    #social img.mix {
      height: 10px;
      
    }
    #section5 ul>li{
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
    }
 
 /*IMPRESSUM*/
  footer  p{
    color:#f8b3cc;
    font-size: 15px; 
    display: flex;
    justify-content:center;
    padding-top: 100px;
 

 }

 h7{
  font-size: 15px;
  color:hsl(338, 95%, 85%); 
 }

 .accordion-item-1{
 display: flex;
 flex-direction: column;
 text-align: right;


 }


 /*MIXCLOUD*/
 #section4 a{
    display: flex;
    color:#fca7e2;
    padding-left: 20px;
    font-size: 25px;
    text-shadow:none;
  
}


#social img{
width: 35px;
padding-top: 10px;
padding-bottom: 10px;

}
 #social .mix{
  width: 80px;
  padding-bottom: 22px;
  
 }
 

 /*FOTO ABOUT*/
 .bio{
  width: 40%;
  display: flex;
  flex-direction: column;
   padding-left: 320px;
 
 }

 #section1  li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
 }
